<!doctype html>
<html ng-app="app">
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script language="javascript" type="text/javascript">
      angular.module('app', []);
      
      //Whatever you put on the controller scope,
      //will be availalble in the HTML element bound to the controller.
      function MyController($scope){
        $scope.newMessage = "";
        $scope.messages = ["Hello"]; 
        
        $scope.add = function(){
          
          if($scope.newMessage == ""){
             $scope.newMessage = "You must be joking me, please write something";
          }
          
          if($scope.newMessage == 1){
             $scope.newMessage = "haha, try typing something";
          }
         
         if($scope.newMessage == 2){
             $scope.newMessage = "boring!";
          }
          
          if($scope.newMessage == 3){
             $scope.newMessage = "ok... maybe some inspiring statement?";
          }
          
          if($scope.newMessage == 3){
             $scope.newMessage = "ok... never mind come back another time";
          }
         
          $scope.messages.push($scope.newMessage);
        };
      }
    </script>
  </header>
  
  <body ng-controller="MyController">
    Enter something or a blank or 1 or 2 or 3 or 4:<br>     
    <input type="text" ng-model="newMessage">
    <input type="submit" ng-click="add()" value="Enter">
    <br>
    Messages: <br>
    <ul>
      <li ng-repeat="message in messages">
        {{message}}
      </li>
    </ul>
  </body>
  
</html>
